body {
    background-image: url("../images/parchment.jpg");
    margin: 0px;
}

/*nav ul a,*/
/*nav .brand-logo {*/
/*color: #444;*/
/*}*/

/*.navbar {*/
/*background: seagreen;*/
/*position: fixed;*/
/*z-index: 999;*/
/*height: 50px;*/
/*width: 100%;*/
/*}*/

.name {
    padding-top: 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.description {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

.slideshow {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 700px;
    margin: 50px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel {
    box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
}

img {
    border-radius: 10px;
}

.carousel-img {
    height: 25%;
    width: 30%;
    object-fit: cover;
    max-height: 250px;
}

.search-field {
    text-align: center
}

#locationText {
    width: 280px;
    margin-right: 20px;
    padding-left: 5px;
}

.searchBtn {
    background: seagreen;
    border-color: seagreen;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: seagreen;
}

.nav-tabs {
    padding-top: 30px;
}

.nav-link:hover {
    border-top: none;
    border-left: none;
    border-right: none;
}

a {
    color: black;
}

a:hover {
    color: black;
    font-weight: bold;
}

#photos {
    background: white;
    margin-top: 30px;
    min-height: 150px;
}

.pix-return {
    display: inline-block !important;
    height: 40%;
    width: 30%;
    object-fit: cover;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 12px;
    border-radius: 10px;
}

#nav-map {
    padding-top: 30px;
}

#weather {
    color: black;
    max-height: 250px;
    padding: 4px;
    min-width: 60%;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-flex;
    padding-top: 30px;
}

.weather-categories {
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    border: 1px solid black;
}

.weather-results {
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

#pac-input {
    background: white;
    color: black;
    width: 30%;
    height: 28px;
    margin-top: 10px;
    padding-left: 5px;
}

#pac-input:focus {
    border-bottom: none !important;
}

@media only screen and (max-width: 992px) {
    .icon-block {
        padding: 0 15px;
    }

    .icon-block .material-icons {
        font-size: inherit;
    }

    .dayBlock {
        display: inline-block;
        padding: 25px;
        text-align: center;
        border: 2px solid turquoise;
    }

    .error {
        color: #f44336;
        display: none;
    }

    .row .col {
        padding: 0px;
    }